version: "3.8"

services:
  backend:
    image: nirikshaakamath/backend:latest
    container_name: backend
    ports:
      - "5000:5000"

  frontend:
    image: nirikshaakamath/frontend:latest
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
